## Core latex/pdflatex auxiliary files:
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.lof
*.xml
*.gz
*.lot
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb


# Other files that don't need to be uploaded:
*.pt
*.pkl
*.pyc
*.zip